<!DOCTYPE html>
<html>
<head>
  <title>Dabell</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

  <nav class='global_nav'>
    <ul>
      <% if user_signed_in?  %>
        <li>
          <%= link_to users_edit_path do %>
            <i class='fa fa-pencil-square-o'></i> Edit profile
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: 'delete' do %>
            <i class='fa fa-sign-out'></i> Logout
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <% if flash[:error] %>
    <%= content_tag(:div, 'This is error', class: "flash_error") do %>
      <i class='fa fa-exclamation-circle'></i> <%= flash[:error] %>
    <% end %>
  <% end %>

  <% if flash[:alert] %>
    <%= content_tag(:div, 'This is error', class: "flash_alert") do %>
      <i class='fa fa-bell'></i>  <%= flash[:alert] %>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
