<!DOCTYPE html>
<html>
<head>
  <title>Dabell</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class='global_nav'>
    <ul>
      <li>
        <%= link_to destroy_user_session_path, method: 'delete' do %>
          <i class='fa fa-sign-out'></i> Logout
        <% end %>
      </li>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
